<nav class="navbar">
  <button class="navbar-button" routerLink="/characters" routerLinkActive="active">
    <ion-icon class="navbar-icon" name="people"></ion-icon>
  </button>

  <button class="navbar-button" routerLink="/conversations" routerLinkActive="active">
    <ion-icon class="navbar-icon" name="chatbubbles"></ion-icon>
  </button>

  <button class="navbar-button" routerLink="/personas" routerLinkActive="active">
    <ion-icon class="navbar-icon" name="person-circle"></ion-icon>
  </button>

  <button class="navbar-button" routerLink="/tokens" routerLinkActive="active">
    <ion-icon class="navbar-icon" name="server"></ion-icon>
  </button>

  <button class="navbar-button" routerLink="/settings" routerLinkActive="active">
    <ion-icon class="navbar-icon" name="settings"></ion-icon>
  </button>
</nav>
